body {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  //background-color: aqua;

  @media screen and (min-width: 480px) {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    // background-color: olive;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    // background-color: lightcoral;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    // background-color: blueviolet;
  }
}
