.features__title {
  display: inline-block;
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: tomato;
}

.text-main {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  color: skyblue;
  background-color: #009688;
  border: solid olivedrab;
}
