.team-title {
<<<<<<< Updated upstream
  font-style: italic;
  color: beige;
  background-color: rgb(46, 5, 5);
}
.team-title:hover {
  color: black;
  background-color: #fff;
=======
  color: brown;
  font-size: larger;
  background-color: burlywood;
}
.team-text {
  font-size: larger;
  font-style: italic;
  font-weight: bold;
>>>>>>> Stashed changes
}
