<h1>address</h1>
<!--contact information-->
<ul class="address list">
  <li class="address__item">
    <a class="address__link" href="mailto:info@devstudio.com">
      <svg class="address__icon">
        <use href="./images/icons/sprite.svg#icon-envelope"></use>
      </svg>
      info@devstudio.com</a
    >
  </li>
  <li class="address__item">
    <a class="address__link" href="tel:+380961111111">
      <svg class="address__icon-2">
        <use href="./images/icons/sprite.svg#icon-smartphone"></use>
      </svg>
      +38 096 111 11 11</a
    >
  </li>
</ul>
