<section class="features">
  <h1>features</h1>
  <div class="container">
    <h2 class="visually-hidden">Особенности</h2>
    <ul class="features-list list">
      <li class="features-list__item">
        <div class="features-list__icon">
          <svg class="features-list__cvg">
            <use href=""></use>
          </svg>
        </div>
        <h3 class="features__title">Внимание к деталям</h3>
        <p class="text-main">
          Идейные соображения, а также начало повседневной работы по
          формированию позиции.
        </p>
      </li>
      <li class="features-list__item">
        <div class="features-list__icon">
          <svg class="features-list__cvg">
            <use href=""></use>
          </svg>
        </div>
        <h3 class="features__title">Пунктуальность</h3>
        <p class="text-main">
          Задача организации, в особенности же рамки и место обучения
          кадров влечет за собой.
        </p>
      </li>
      <li class="features-list__item">
        <div class="features-list__icon">
          <svg class="features-list__cvg">
            <use href=""></use>
          </svg>
        </div>
        <h3 class="features__title">Планирование</h3>
        <p class="text-main">
          Равным образом консультация с широким активом в значительной
          степени обуславливает.
        </p>
      </li>
      <li class="features-list__item">
        <div class="features-list__icon">
          <svg class="features-list__cvg">
            <use href=""></use>
          </svg>
        </div>
        <h3 class="features__title">Современные технологии</h3>
        <p class="text-main">
          Значимость этих проблем настолько очевидна, что реализация
          плановых заданий.
        </p>
      </li>
    </ul>
  </div>
</section>