<header>
  <div class="header-line">
    <div class="page-header container">
      <!--main navigation-->
      <nav class="container main-nav">
        <a class="logo" href="./index.html"><span class="logo-first">Web</span><span
            class="logo-second-header">Studio</span>
        </a>
        <ul class="site-nav list">
          <li class="item"><a href="" class="link current">Студия</a></li>
          <li class="item"><a href="./portfolio.html">Портфолио</a></li>
          <li class="item"><a href="">Контакты</a></li>
        </ul>
      </nav>

      